.login-page {
  background-color: #E5E5E5;
  height: 100vh;
  display: flex;
  justify-content: space-between; /* Alinha os itens nos lados opostos */
  align-items: center;
  padding: 0 50px; /* Adiciona algum espaçamento nas laterais */
}

.logo-container {
  margin-bottom: 20px;
  margin-left: 60px;
}

.logo {
  max-width: 150px;
}

.login-container {
  max-width: 400px;
  padding: 20px;
  margin-left: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #e5e5e5cc;
}

.login-container .p-field {
  margin-bottom: 10px;
}

.login-container .login-button {
  margin-top: 12px;
  width: 100%;
}

.image-container {
  flex: 1; /* Ocupar o espaço restante */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Garante que a imagem ocupe a altura total */
}

.image-container img {
  max-width: 100%;
  max-height: 110%;
  object-fit: contain; /* Garante que a imagem não seja esticada */
}

/* Estilos para tablets */
@media screen and (max-width: 768px) {
  .login-page {
      flex-direction: column; /* Muda para uma coluna */
      padding: 0 20px; /* Reduz o espaçamento lateral */
      justify-content: center;
  }

  .login-container {
      margin-left: 0;
      margin-top: 20px;
      max-width: 100%; /* Faz o login ocupar a largura máxima disponível */
  }

  .image-container {
      display: none; /* Esconde a imagem em tablets */
  }
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 480px) {
  .login-page {
      flex-direction: column; /* Muda para uma coluna */
      padding: 0 10px; /* Reduz o espaçamento lateral */
      justify-content: center;
  }

  .login-container {
      margin-left: 0;
      margin-top: 20px;
      max-width: 100%; /* Faz o login ocupar a largura máxima disponível */
      padding: 15px; /* Reduz o padding para melhor adaptação */
  }

  .logo-container {
      margin-left: 0;
      margin-bottom: 10px;
  }

  .logo {
      max-width: 120px;
  }

  .image-container {
      display: none; /* Esconde a imagem em dispositivos móveis */
  }
}
