<div class="p-fluid p-formgrid p-grid login-container">
  <div class="p-field p-col-12">
    <label for="username">Username</label>
    <input id="username" type="text" pInputText [(ngModel)]="username" name="username" required />
  </div>
  <div class="p-field p-col-12">
    <label for="password">Password</label>
    <input id="password" type="password" pPassword [(ngModel)]="password" name="password" required feedback="false" />
  </div>
  <div class="p-field p-col-12">
    <p-messages [(value)]="messages"></p-messages>
  </div>
  <div class="p-field p-col-12">
    <button pButton type="button" label="Login" icon="pi pi-check" (click)="login()" class="p-button p-button-primary login-button"></button>
  </div>
</div>
