/* login.component.css */
.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

.login-container .p-field {
    margin-bottom: 20px;
}

.login-container .login-button {
    margin-top: 12px;
    width: 100%;
}
