.header-content h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #4A4A4A;
  letter-spacing: 2px;
  text-transform: uppercase;
}


.login-page {
  background-color: #E5E5E5;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.logo-container {
  margin-bottom: 20px;
  margin-left: 60px;
}

.logo {
  max-width: 150px;
}

.login-container {
  max-width: 400px;
  padding: 20px;
  margin-left: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #e5e5e5cc;
}

.login-container .p-field {
  margin-bottom: 10px;
}

.login-container .login-button {
  margin-top: 12px;
  width: 100%;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-container img {
  max-width: 100%;
  max-height: 110%;
  object-fit: contain;
}

.dashboard-container tr {
  cursor: pointer;
  transition: background-color 0.3s;
}

.dashboard-container tr:hover {
  background-color: #e0e0e0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-content {
  display: flex;
  align-items: center;
}

.header-buttons {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
}

.logout-button-container {
  margin-left: auto; /* Empurra o botão para a extremidade direita */
}



/* Estilos para tablets */
@media screen and (max-width: 768px) {
  .login-page {
      flex-direction: column;
      padding: 0 20px;
      justify-content: center;
  }

  .login-container {
      margin-left: 0;
      margin-top: 20px;
      max-width: 100%;
  }

  .image-container {
      display: none;
  }
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  max-width: 100px;
}


